li {
  list-style: none;
  height: 15px;
  width: 15px;
  border: 1px solid gray;
}

.snake-box {
  display: flex;
  justify-content: space-around;
  background-color: black;
  margin-top: 40px;
  /*border: 1px solid yellow;*/
}

.creator {
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
  color: white;
  font-family: "Holtwood One SC";
}

.contact {
  color: white;
}

.instructions {
  color: white;
  align-self: left;
  font-size: 17px;
  font-family: "Holtwood One SC";
  text-align: left;
  line-height: 40px;
  width: 400px;
  background-color: black;
  border-radius: 4px;
  border: 3px solid white;
  padding: 15px;
  margin-top: 45px;
}

.instruc {
  font-size: 30px;
}


.snake-attack {
  border: 5px solid green;
  display: flex;
  flex-direction: column;
  cursor: none;
  /*width: 400px;*/

}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

h1 {
  font-family: "Holtwood One SC";
  font-size: 40px;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  align-self: center;
}

body {
  overflow: hidden;
  background-color: black;
  color: white;
  text-align: center;
  content: center;

}


.link-list-gameover {
  display: flex;
  justify-content: flex-end;
  color: white;
  font-size: 30px;
  list-style-type: none;
  bottom: 10px;
  right: 20px;
  position: absolute;
}

.link-list-gameover div {
  margin-right: 30px;
}

.linked-in-link {
  color: white;
}

.loser {
  color: red;
  font-family: "Holtwood One SC";
  font-size: 35px;
}

/*#gameover-page {
  background-color: red;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
}*/
